.bg-skills {
  font-size: 7rem;
  position: relative;
  text-transform: uppercase;
  display: block;
  top: 65px;
  text-align: center;
  color: #f4f4f4;
  z-index: -10;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
}

ul li {
  padding: .5rem;
  font-size: 1.2rem;
  list-style-type: none;
  font-weight: 200;
}

.skills-inner {
  margin-bottom: 2rem;
  padding-left: 4rem;
  width: 50%;
}

.familiarity {
  text-align: right;
  margin-bottom: 0 !important;
}


/* MEDIA QUERIES */

/* Medium Devices */
@media (max-width: 800px) {
  .bg-skills {
    font-size: 5rem;
    top: 30px;
  }

  .section-skills {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bg-skills {
    font-size: 5rem;
    top: 60px;
  }

  h2 {
    margin-bottom: 5rem !important;
    font-weight: bold !important;
  }

  h3 {
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }

}

/* Small Devices */
@media (max-width: 600px) {
  .skills-container {
    display: block;
  }

  .bg-skills {
    font-size: 3rem;
    top: 45px;
    /* line-height: 1 !important; */
  }

  .section-skills {
    margin-top: 0;
    margin-bottom: 0;
  }

  .skills-inner {
    margin-bottom: 1rem;
    padding-left: 0;
    width: 100%;
  }

  h2 {
    margin-bottom: 3rem !important;
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  h3 {
    font-size: 1.3rem !important;
    font-weight: bold !important;
  }

  ul li {
    padding: .2rem;
    font-size: 1rem;
    list-style-type: none;
    font-weight: 200;
  }
}