.section-project {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
}

.bg-project {
  font-size: 7rem;
  position: relative;
  text-transform: uppercase;
  display: block;
  top: 45px;
  text-align: center;
  color: #f4f4f4;
  z-index: -10;
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.column img {
  max-width: 33%;
  margin: 1px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* MEDIA QUERIES */

/* Medium Devices */
@media (max-width: 800px) {
  .column img {
    max-width: 49.50%;
  }

  .bg-project {
    font-size: 5rem;
    top: 30px;
  }
}

/* Small Devices */
@media (max-width: 600px) {
  .section-project .column img {
    max-width: 100%;
    align-self: center;
  }

  .section-project {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .bg-project {
    font-size: 3rem;
    top: 30px;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
}