.bg-contact {
  font-size: 7rem;
  position: relative;
  text-transform: uppercase;
  display: block;
  top: 45px;
  text-align: center;
  color: #f4f4f4;
  z-index: -10;
}

.contact-p {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 2rem;
  line-height: 2rem;
}

/* MEDIA QUERIES */

/* Medium Devices */
@media (max-width: 800px) {
  .bg-contact {
    font-size: 5rem;
    top: 30px;
  }
}

/* Small Devices */
@media (max-width: 600px) {
  .bg-contact {
    font-size: 3rem;
    top: 30px;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .contact-p {
    font-size: 1rem;
  }

}