Form {
  width: 60%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 5rem !important;
}

.bg-contact {
  font-size: 7rem;
  position: relative;
  text-transform: uppercase;
  display: block;
  top: 65px;
  text-align: center;
  color: #f4f4f4;
  z-index: -10;
}

.contact-p {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 2rem;
  line-height: 2rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999 !important;
  opacity: .3 !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777 !important;
}

.alert-success {
  margin-bottom: 0 !important;
}

.alert-shown {
  opacity: 1;
  transition: all .8s linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 1s linear;
}

Label>span {
  color: #e91e63;
  padding-left: .5rem;
  font-size: 0.75rem;
}


/* MEDIA QUERIES */

/* Medium Devices */
@media (max-width: 800px) {
  .bg-contact {
    font-size: 5rem;
    top: 30px;
  }

  .section-contact {
    margin-top: -4rem !important;
    margin-bottom: 2rem !important;
  }

  .bg-contact {
    font-size: 5rem;
    top: 60px;
  }

  h2 {
    margin-bottom: 5rem !important;
    font-weight: bold !important;
  }

  Form {
    width: 80%;
  }

}

/* Small Devices */
@media (max-width: 600px) {
  .bg-contact {
    font-size: 3rem;
    top: 45px;
  }

  .section-contact {
    margin-top: 0 !important;
    margin-bottom: 5rem !important;
  }

  h2 {
    margin-bottom: 3rem !important;
    font-size: 2.5rem;
    font-weight: bold !important;
  }

  h3 {
    font-size: 1.3rem;
  }

  .contact-p {
    font-size: 1rem;
  }

  Form {
    width: 100%;
  }

}