h1 {
  font-size: 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* MEDIA QUERIES */


/* Medium Devices */
@media (max-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }
}

/* Small Devices */
@media (max-width: 600px) {

  h1 {
    font-size: 2.4rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}