@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

:focus {
  outline: 0;
}

.App {
  max-width: 80%;
  margin: 5rem auto 2rem;
}

h2 {
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  .App {
    max-width: 90%;
    margin: 2rem auto;
  }
}